@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

/*-------FONTS---------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
/*---------------------------------------*/

html{
  height: 100vh;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

.container {
  max-width: 1195px;
  margin: 0 auto;
}

.ibg{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img{
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.tittle-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tittle-block__tittle {
  text-align: center;
  color: #555555;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.tittle-block__text {
  text-align: center;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin: 20px 0 0 0;
}

.btn{
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 23px;
  padding: 20px 35px;
  box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  transition: 0.5s;
}

.btn:hover{
  transition: 0.5s;
  -webkit-transform: translate(0, -8px);
  -ms-transform: translate(0, -8px);
  -o-transform: translate(0, -8px);
  transform: translate(0, -8px);
  letter-spacing: 1px;
  padding: 20px 30px;
}


/*--------------------------------------------------------------*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}



.header__body {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 10px;
}

.header__burger{
  display: none;
}




.header__logo {
  flex: 0 0 181px;
  display: flex;
  align-items: center;

  position: relative;
  z-index: 3;
}

.header__logo p{

  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 34px;
  letter-spacing: -1.36px;

}

.header__menu {
  flex: 1 1 auto;
  position: relative;
  z-index: 2;
}

.header__menu ul{
  display: flex;
  justify-content: flex-end;
}

.header__menu li{

  font-weight: 300;
  margin: 0 3.5% 0 0;
}

.header__menu a{
  transition: 0.4s;
  color: #ffffff; 
}

.header__menu a:hover{
  transition: 0.4s;
  color: #c7b299;
}

.header__icons {
  position: relative;
  z-index: 2;
}

.header__icons img{
  
  margin: 0 0 0 25px;
}

@media (max-width: 940px){
  body._lock{
    overflow: hidden;
  }
  .header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(70, 70, 70, 0.3);
    z-index: 2;
  }
  .header__burger{
    
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    
  }
  .header__burger span{
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all ease 0.4s;
  }
  .header__burger:before,
  .header__burger:after{
    content: '';
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all ease 0.4s;
  }
  .header__burger:before{
    content: '';
    top: 0;
  }
  .header__burger:after{
    content: '';
    bottom: 0;
  }

  .header__burger._active span{
    transform: scale(0);
    transition: all ease 0.4s;
  }
  .header__burger._active:before{
    content: '';
    transform: rotate(45deg);
    top: 9px;
    transition: all ease 0.4s;
  }
  .header__burger._active:after{
    content: '';
    transform: rotate(-45deg);
    bottom: 9px;
    transition: all ease 0.4s;
  }


  .header__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(70, 70, 70, 0.95);
    padding: 90px 20px 20px 40px;
    overflow: auto;
    transition: all ease 0.4s;
    opacity: 0;

  }
  .header__menu._active{
    top: 0;
    opacity: 1;
    transition: all ease 0.4s;
  }

  .header__menu ul{
    position: relative;
    z-index: 3;
    display: block;
    
  }

  .header__menu li{
    margin: 0 0 20px 0;
    font-size: 25px;
  }
  
  .header__body{
    padding: 8px 10px;
    justify-content: space-around;
  }
  
  .header__icons{

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .header__icons img{
    margin: 0 5px;
  }
}

/*--------------------------------------------------------------*/

.main {
  height: 100vh;
  padding: 100px 0 0 0;
  display: flex;
  flex-direction: column;
}

.main:before{
  content: '';
  background-color: rgba(17, 17, 17, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

}

/*-----------------------------------------------------*/

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
  height: 100%;
}
/* Лента слайдов */
.slick-track{
  display: flex;
  height: 100%;


}
/* Слайд */
.slick-slide{
  flex: 1 1 auto;
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.slider-main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.slider-main .slick-slider{
  position: relative;
  z-index: 2;
}

.slider__item {
  display: flex;
  justify-content: center;
  height: 100%;
}

.slide-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 600px;
  text-align: center;
  height: 40vh;
  margin: 15vh 0 0 0;
}

@media (min-height: 1000px){
  .slide-body{
    margin: 25vh 0 0 0;
  }
}

@media (max-height: 700px){
  .slide-body{
    margin: 2vh 0 0 0;
  }
}

.slide-body__row{
  flex: 1 1 auto;
}

.slider__subtittle {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 36px;
  font-weight: 500;

}

.slider__tittle {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 52px;
  font-weight: 700;
  margin: 15px 0;
}

.slider__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 50px 0;
}



.slider-main .slick-arrow{
  display: block;
  position: absolute;
  top: 50%;
  margin: -37px 10% 0 10%;
  width: 40px;
  height: 74px;
  font-size: 0px;
  z-index: 1;
}
/* Стрелка влево */
.slider-main .slick-arrow.slick-prev{
  left: 0;
  background: url(../images/main/left.svg) center / cover no-repeat;;
}
/* Стрелка вправо */
.slider-main .slick-arrow.slick-next{
  right: 0;
  background: url(../images/main/right.svg) center / cover no-repeat;
}

.slider-main .slick-dots{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 0 25px 0;

}

.slider-main .slick-dots li{
  margin: 0 5px 5px 0;
  display: block;
  width: 11px;
  height: 11px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s;
}

.slider-main .slick-dots li:hover{
  width: 12px;
  height: 12px;
  transition: 0.3s;
  box-shadow: 0px 0px 1px 2px rgba(256, 256, 256, 0.3);
}



/* Элемент точки */
.slider-main .slick-dots li button{
  font-size: 0px;

  
}

/* Активная точка */
.slider-main .slick-dots li.slick-active{
  width: 15px;
  height: 15px;
  border: 2px solid #d3c1ad;
  background-color: rgba(0, 0, 0, 0.2);
}

.slider-main .slick-dots li.slick-active:hover{
  box-shadow: none;
}

@media (max-width: 940px){
  .slider-main .slick-arrow{
    margin: -37px 2% 0 2%;
  }
}

@media (max-width: 740px){
  .slider-main .slick-arrow{
    margin: -20px 2% 0 2%;
    width: 25px;
    height: 40px;
  }
  .slider__subtittle {
    font-size: 25px;
  }

  .slider__tittle {
    font-size: 36px;
  }

  .slider__text {
    font-size: 14px;
    line-height: 18px;
  }

  .slide-body{
    flex: 0 1 400px;
  }
}

@media (max-width: 460px){
  .slider-main .slick-arrow{
    margin: -20px 1% 0 1%;
  }
  .slider__subtittle {
    font-size: 22px;
    margin: 0;
  }

  .slider__tittle {
    font-size: 30px;
  }

  .slider__text {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 10px 0;
  }

  .slide-body{
    flex: 0 1 280px;
  }
}

/*---------------------------------------------------------------------*/

.services {
  padding: 90px 10px 80px 10px;
}

.services__row {
  display: flex;
  margin: 0 -17px;
}

.services__item {
  padding: 0 17px;
}

.services-item {
  flex: 0 1 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.services-item__icon {
  width: 50px;
  height: 50px;
  margin: 0 0 25px 0;
  transition: 0.3s;
}

.services-item__icon_2{
  display: none;
}


.services-item__tittle {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #555555;
  font-size: 22px;
  margin: 0 0 15px 0;
  transition: 0.2s;
  text-align: center;
}

.services-item__text {
  font-weight: 300;
  color: #8c8c8c;
  line-height: 24px;
  text-align: center;
}

.services-item__text:after {
  content: '';
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  margin: 30px auto 0 auto;
  transition: 0.2s;
}

.services-item:hover .services-item__tittle{
  transition: 0.3s;
  color: #c7b299;
}

.services-item:hover .services-item__text:after{
  transition: 0.3s;
  background-color: #c7b299;
}

@media (max-width: 910px){
  .services__row {
    flex-wrap: wrap;
  }

  .services__item{
    flex: 0 1 50%;
    margin: 0 0 25px 0;
  }
  
  .services {
    padding: 90px 10px 55px 10px;
  }
}

@media (max-width: 460px){

  .services__item{
    flex: 0 1 100%;
    margin: 0 0 35px 0;
  }
  
  .services {
    padding: 50px 10px 15px 10px;
  }
}

/*-------------------------------------------------------------------------*/

.ideas {
  background-color: #fbfaf8;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.ideas__tittle {
  margin: 0 auto 0 auto;
  max-width: 760px;
  padding: 80px 10px 520px 10px;
}

.ideas__images {
  position: relative;
  flex: 0 1 100%;
}

.ideas__img {
  position: absolute;
  bottom: 0;
  object-fit: cover;

}

.ideas__img_1 {
  left: 2%;
}

.ideas__img_2 {
  right: 2%;
}

.ideas__img_3 {
  z-index: 2;
  left: 50%;
  transform: translate(-385px, 0);
  
}

@media (max-width: 780px){

  .ideas__tittle {
    padding: 40px 10px 50px 10px;
  }
  .ideas__img_1,
  .ideas__img_2{
    display: none;
  }
  .ideas__img_3{
    display: block;
    position: relative;
  }
}

/*----------------------------------------------------*/

.block-theme {
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}

.block-theme__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 10px;
}

.block-theme__text {}

.block-theme__tittle {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  margin: 0 0 5px 0;
}

.block-theme__tittle span{
  color: #c7b299;
}

.block-theme__subtittle {
  color: #615855;
  font-size: 18px;
  font-weight: 300;
}

.block-theme__btn {}

@media (max-width: 750px){
  .block-theme__body {
    flex-direction: column;
    justify-content: center;
  }
  .block-theme__text {
    margin: 0 0 35px 0;
    text-align: center;
  }
}

@media (max-width: 460px){
  .block-theme__text {
    margin: 0 0 50px 0;
  }
  .block-theme__tittle {
    margin: 0 0 25px 0;
    line-height: 35px;
  }
  .block-theme__subtittle {
    line-height: 24px;
  }
}

/*-----------------------------------------------------*/

.projects {
  padding: 80px 0;
}

.projects__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects__tittle {
  max-width: 757px;
  margin: 0 auto 50px auto;
}

.filter {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
}

.filter__list {
  display: flex;
  margin: 0 -5px 40px -5px;
  justify-content: center;
}

.filter__list li{
  padding: 0 5px;
}

.filter__btn {
  padding: 8px 18px;
  font-weight: 300;
  line-height: 21px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
}

.active-filter{
  color: #fff;
  background-color: #998675;

}

.filter__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  
}

.filter__item {}

.item {
  flex: 0 1 33.333%;
  padding: 0 15px;
  margin: 0 0 30px 0;
  display: flex;
  flex-direction: column;
  height: 340px;
  position: relative;
}

.item__img {
  flex: 1 1 auto;
  position: relative;
}

.item__body {
  padding: 27px;
  background-color: #fbfaf8;
  position: relative;
}

.item__tittle {
  color: #c7b299;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 14px 0;
}

.item__text {
  font-weight: 300;
  line-height: 20px;
}

.item__img_icons {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 7;
  width: 80px;
  height: 26px;
  display: flex;
  justify-content: space-between;
  transform: translate(-40px, -13px);
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;

}

.item__img_icons img{
  display: block;
  width: 26px;
  height: 26px;
  position: relative;
  visibility: visible;
  opacity: 1;
}



.item__body:before{
  transition: 0.3s;
  content: '';
  
  display: block;
  
  width: 0px;
  height: 0px;
  border-bottom: 10px solid #fbfaf8;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  position: absolute;
  top: -10px;
  z-index: 5;
}

.item:hover .item__img:before{
  transition: 0.3s;
  content: '';
  position: absolute;
  z-index: 6;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 47, 45, 0.7);
}

.item:hover .item__body{
  transition: 0.3s;

  background-color: rgba(54, 47, 45, 1);
}

.item:hover .item__body:before{
  transition: 0.3s;
  content: '';
  border-bottom: 10px solid  rgba(54, 47, 45, 1);
}

.item:hover .item__tittle{
  transition: 0.3s;
  color: #fff;
}

.item:hover .item__text{
  transition: 0.3s;
  color: #af9c87;
}

.item:hover .item__img_icons{
  transition: 0.3s;
  visibility: visible;
  opacity: 1;
}

@media (max-width: 950px){
  .item {
    flex: 0 1 50%;
  }
}


@media (max-width: 630px){
  .item {
    flex: 0 1 100%;
  }
  .filter__list {
    flex-wrap: wrap;
  }
  .filter__list li{
    flex: 0 1 33.333%;
    margin: 15px;
  }
  .filter__btn{
    display: block;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 445px){
  .filter__list li{
    flex: 0 1 100%;
    margin: 10px 15px;
  }
  .projects{
    padding: 40px 0;
  }
  .projects__tittle {
    margin: 0 auto 30px auto;
  }
}

/*---------------------------------------------------------------*/

.mobile {

  padding: 0 15px 0 15px;
}

.mobile__row {
  display: flex;
}

.mobile__img {
  flex: 0 1 33.333%;
  margin: 80px 30px 0 50px;
}

.mobile__img img{
  max-width: 100%;
  max-height: 100%;
}

.mobile__body {
  display: flex;
  flex-direction: column;
  flex: 0 1 66.667%;
  margin: 116px 0 0 0;
}

.mobile__tittle {
  color: #555555;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin: 0 0 40px 0
}

.mobile__text {
  color: #8c8c8c;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.mobile__list {
  margin: 45px 0 0 50px;
}

.mobile__list li{
  color: #8c8c8c;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  position: relative;
  padding: 0 0 0 50px;
}

.mobile__list li:before{
  content: '';
  display: block;
  width: 21px;
  height: 21px;
  
  position: absolute;
  top: 5px;
  left: 0;
  background: url(../images/mobile/01.png) 0 0 no-repeat;
}

@media (max-width: 900px){
  .mobile__row{
    flex-direction: column-reverse;

  }
  .mobile__body {
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    margin: 0 0 20px 0;
  }

  .mobile__tittle{
    text-align: center;
  }
  .mobile__text{
    text-align: center;
  }

  .mobile__img {
    display: none;
  }
}

@media (max-width: 460px){
  .mobile__list {
    margin: 45px 0 0 0;
  }
}

/*----------------------------------------------------------*/

.statistic {
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  max-width: 100%;
}

.statistic-container {
  max-width: 920px;
}

.statistic__row {
  display: flex;
  padding: 69px 0 60px 0;
  margin: 0 -30px;
  
}

.statistic__item {
  flex: 0 1 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
}

.statistic__icon {
  margin: 0 0 30px 0;
}

.statistic__number {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 300;
  line-height: 36px;
}

.statistic__text {
  margin: 21px 0 0 0;
  color: #c7b299;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

}

.statistic__text:after{
  content: '';
  display: block;
  margin: 30px auto 0 auto;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}

@media (max-width: 968px){
  .statistic__row{
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;
  }
  .statistic__item {
    flex: 0 1 33.333%;
    padding: 0 10px;
    margin: 0 0 15px 0;
  }
}

@media (max-width: 530px){
  .statistic__row{
    margin: 0;
  }
  .statistic__item {
    flex: 0 1 100%;
    margin: 0 0 50px 0;
    padding: 0;
  }
  .statistic__text {
    margin: 10px 0 0 0;
  }
  .statistic__text:after{
    content: '';
    margin: 15px auto 0 auto;
  }
}

/*--------------------------------------------*/

.post {
  padding: 80px 0;
}

.post__tittle-block {
  max-width: 760px;
  margin: 0 auto 40px auto;
}

.post__slider {
  position: relative;
}

.post__item {
  max-width: 370px;
  position: relative;
}

.post__imb:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.7);
  z-index: 2;

 
  visibility: hidden;
  opacity: 0;
}

.post__body{
  padding: 30px 0 30px 30px;
}


.post__imb {
  height: 35vh;
  position: relative;
}

.post__data {}

.data {
  width: 50px;
  position: absolute;
  top: 20px;
  left: 20px;
  
}

.data__day {
  padding: 9px 10px;
  font-size: 24px;
  color: #fff;
  font-weight: 300;
  line-height: 20px;
  background-color: #363636;
}

.data__mon {
  padding: 7px 14px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 20px;
  background-color: #252525;
}

.post__tittle{
  
  color: #555555;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 500;
  max-width: 300px;
}

.post__text {
  color: #8c8c8c;
  font-weight: 300;
  line-height: 22px;
  margin: 19px 0 27px 0;
  max-width: 300px;
}

.post__link {
  color: #c7b299;
  font-weight: 300;
  line-height: 20px;
  display: inline-block;
  
}

.post__link:after{
  content: '';
  width: 0;
  height: 0;
  display: inline-block;
  margin: 0 0 0 9px;
  border-left: 8px solid #c7b299;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}



/* Слайдер */
.post__slider .slick-slider{

}

/* Ограничивающая оболочка */
.post__slider .slick-list {
  max-width: 1200px;
  margin: 0 auto;
}

/* Лента слайдов */
.post__slider .slick-track{
  display: flex;
  
}

/* Слайд */
.post__slider .slick-slide{
  margin: 0 15px;
  opacity: 0.9;
}

/* Слайд активный (показывается) */
.slick-slide.slick-active{}

.slick-slide.slick-active {
  
}

/* Слайд основной */
.slick-slide.slick-current{}

/* Слайд по центру */
@media (min-width: 630px){
  .post__slider .slick-slide.slick-center {
    opacity: 1;
  }
  .post__slider .slick-slide.slick-center .post__imb:before{
    content: '';
    
    visibility: visible;
    opacity: 1;
  }

  .post__slider .slick-slide.slick-center .data{
    z-index: 3;
  }

  .post__slider .slick-slide.slick-center .data__day{
    background-color: #c7b299;
    color: #fff;
  }

  .post__slider .slick-slide.slick-center .data__mon{
    background-color: #a48d72;
    color: #fff
  }

  .post__slider .slick-slide.slick-center .post__body{
    background-color: #362f2d;
  }

  .post__slider .slick-slide.slick-center .post__tittle{
    color: #c7b299;
  }

  .post__slider .slick-slide.slick-center .post__text{
    color: #fff;
  }
}

/* Клонированный слайд */
.slick-slide.slick-cloned{
}

/* Стрелка */
.post__slider .slick-arrow{
  font-size: 0;
  position: absolute;
  bottom: -50px;
  
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;

}

/* Стрелка влево */
.post__slider .slick-arrow.slick-prev{
  left: 50%;
  transform: translate(-15px, 0);
  background: url(../images/posts/left.svg) center / cover no-repeat;
}

/* Стрелка вправо */
.post__slider .slick-arrow.slick-next{
  left: 50%;
  transform: translate(15px, 0);
  background: url(../images/posts/right.svg) center / cover no-repeat;
}

/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/*--------------------------------------------------------------------------*/

.partners {
  background: url(../images/partners/bg.jpg) center / cover no-repeat;
  position: relative;
  
}

.partners:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.7);
  
}

.partners__row {
  display: flex;
  align-items: center;
  margin: 0 0;
  padding: 181px 0;
}

.partners__img{
  flex: 0 1 25%;
  margin: 0 45px;
  position: relative;
  z-index: 2;
}

.partners__img img{
  max-width: 100%;
}

@media (max-width: 785px){
  .partners__row{
    flex-wrap: wrap;
    padding: 135px 0;
  }
  .partners__img{
    flex: 0 1 50%;
    margin: 45px 0px;
    padding: 0 45px;
  }
}

@media (max-width: 465px){
  .partners__row{
    flex-direction: column;
    padding: 20px 0;
  }
  .partners__img{
    flex: 0 1 100%;
    margin: 45px 0;
    padding: 0 20px;
  }
}

/*----------------------------------------------------*/

.footer {
  background-color: #191919;
}

.footer__body {
  display: flex;
  padding: 108px 0 81px 0;
}

.footer__column {
  flex: 0 1 25%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.footer__column_1 {}

.footer__logo {
  
  display: flex;
  align-items: center;
  margin: -28px 0 29px 0;
}

.footer__logo p{

  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 34px;
  letter-spacing: -1.36px;

}

.footer__text {
  color: #555555;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 24px;
}

.footer__link {
  color: #c7b299;
  font-weight: 300;
  line-height: 20px;
  display: inline-block;
  margin: 33px 0 0 0;
}

.footer__link:after{
  content: '';
  width: 0;
  height: 0;
  display: inline-block;
  margin: 0 0 0 9px;
  border-left: 8px solid #c7b299;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  transition: 0.5s;
}

.footer__link:hover.footer__link:after{
  content: '';
  transform: translate(5px, 0);
  transition: 0.5s;
}


.footer__column_2 {}

.footer__tittle {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 33px 0;
  transition: 0.3s;
}

.footer__data {
  color: #363636;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  transition: 0.3s;
}

.post-block:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #252525;
  margin: 20px 0;
}

.post-block:last-child:after{
  content: '';
  display: none;
}


.post-block:hover .footer__post{
  color: #c7b299;
  transition: 0.3s;
}

.post-block:hover .footer__data{
  color: #fff;
  transition: 0.3s;
}

.footer__column_3 {}

.twitter-block:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #252525;
  margin: 20px 0;
}

.twitter-block:last-child:after{
  content: '';
  display: none;
}

.twit-span {color: #00bff3;}

.twit-link {color: #959595;}

.footer__column_4 {}

.footer__images {
  display: flex;
  flex-wrap: wrap;
}

.footer__img{
  flex: 0 1 50%;
  padding: 5px;
}

.footer__img img{
  width: 100%;
  object-fit: cover;

}

@media (max-width: 900px){
  .footer__body{
    flex-wrap: wrap;
  }
  .footer__column{
    flex: 0 1 50%;
    padding: 20px;
  }
}

@media (max-width: 600px){
  .footer__body{
    flex-wrap: wrap;
    padding: 50px 0;
  }
  .footer__column{
    flex: 0 1 100%;
    padding: 40px 20px;
  }
  .footer__img {
    flex: 0 1 50%;
  } 
}

.footer__row {
  background-color: #111111;
  padding: 45px 10px;
}

.row__end {
  display: flex;
  justify-content: space-between;
}

.row__column {}

.row__text {
  color: #555555;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  display: inline-block;
}

.row__text span{
  color: #959595;
}

.row__text:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 15px;
  background-color: #252525;
  margin: 0 10px -3px 10px;
}

.row__text:last-child:after {
  content: '';
  display: none;
}

.row__link {
  display: inline-block;
  color: #555555;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

.row__link:hover {
  color: #c7b299;
}

.row__link:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 15px;
  background-color: #252525;
  margin: 0 10px -3px 10px;
}

.row__link:last-child:after {
  content: '';
  display: none;
}

@media (max-width: 790px){
  .row__end {
    flex-direction: column;
    align-items: center;
  }
  .row__column {
    padding: 10px 0;
    text-align: center;
  }
}